<div class="justify-content-center" *ngIf="client.typeClient==='Person'">
  <div class="card p-3 bg-white">
    <div class="card-header d-flex justify-content-between">
      <img alt="logo person" src="../../../../assets/images/person_icon.png" style="width: 20px;height: 20px;"/>
      <h4 class="modal-title">{{client.firstName}} {{client.lastName}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="stats mt-2 card-body">
      <div class="d-flex justify-content-between"><span>Né le : </span><span>{{client.birthday}}</span></div>
      <div class="d-flex justify-content-between"><span class="mr-3">Email</span><span>{{client.email}}</span></div>
      <div class="d-flex justify-content-between"><span>N° Téléphone</span><span>{{client.phoneNumber}}</span></div>
      <div class="d-flex justify-content-between">
        <span>Date d'enregistrement</span><span>{{client.registrationDate | date:'dd/MM/yyyy'}}</span></div>
    </div>
    <div class="d-flex justify-content-between total mt-1 card-footer">
      <button class="btn btn-modifier">Editer le profil</button>
      <button class="btn btn-supprimer"> Supprimer le profil</button>
    </div>
    <div class="mt-2 card-body">
      <br>
      <br>
      <br>
      HISTORIQUE DES COMMANDES
      <br>
      <br>
      <br>
      <br>
    </div>
    <div class="d-flex justify-content-between total mt-1 card-footer">
      <button class="btn btn-add"> Ajouter une commande ?</button>
      <button class="btn btn-modifier">Voir les commandes</button>
    </div>
  </div>
</div>

<div class="justify-content-center" *ngIf="client.typeClient==='Company'">
  <div class="card p-3 bg-white">
    <div class="card-header d-flex justify-content-between">
      <img alt="logo company" src="../../../../assets/images/company_icon.png" style="width: 20px;height: 20px;"/>
      <h4 class="modal-title">{{client.lastName}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="stats mt-2 card-body">
      <div class="d-flex justify-content-between"><span>SIREN</span><span>{{client.siren}}</span></div>
      <div class="d-flex justify-content-between"><span class="mr-3">Email</span><span>{{client.email}}</span></div>
      <div class="d-flex justify-content-between"><span>N° Téléphone</span><span>{{client.phoneNumber}}</span></div>
      <div class="d-flex justify-content-between">
        <span>Date d'enregistrement</span><span>{{client.registrationDate | date:'dd/MM/yyyy'}}</span></div>
    </div>
    <div class="d-flex justify-content-between total mt-1 card-footer">
      <button class="btn btn-modifier">Editer le profil</button>
      <button class="btn btn-supprimer"> Supprimer le profil</button>
    </div>
    <div class="mt-2 card-body">
        <br>
        <br>
        <br>
        HISTORIQUE DES COMMANDES
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="d-flex justify-content-between total mt-1 card-footer">
      <button class="btn btn-add"> Ajouter une commande ?</button>
      <button class="btn btn-modifier">Voir les commandes</button>
    </div>
  </div>
</div>
