.invalid {
  color: red;
}

#headerLogin {
  color: #682632;
}

.form-control {
  color:#682632;
}

.btn {
  background-color:#951556;
  border: #951556;
}

.btn:hover {
  background-color: #a95671;
  border: #a95671;
}
