<div class="d-flex justify-content-between" id="head">
  <div class="header h1">
    Gestion du stock
  </div>
  <div>
    <label for="searchBar" class="h5">Rechercher : </label>
    <input id="searchBar" placeholder="Entrez un nom" class="form-control" type="text" name="search" autocomplete="off" [(ngModel)]="searchBottleVintage">
  </div>
  <button [hidden]="!authenticated" class="btn" id="btn-add-bottle" (click)="openForm()">Ajouter une bouteille</button>
</div>
<div class="d-flex flex-row flex-wrap justify-content-center">
  <div *ngFor="let bottle of bottles | filter:searchBottleVintage">
    <app-bottle [bottle]="bottle" [authentification]="authenticated"></app-bottle>
  </div>
</div>
