<div class="d-flex justify-content-center container mt-5">
  <div class="bottleCard p-3 bg-white button" (click)="openDetailModal()">
    <div class="about-product text-center mt-2 card-header">
      <img class="bottleImg" src="{{url}}{{bottle.id}}" alt="{{bottle.vintage}}'s bottle image">
      <div>
        <h4>{{bottle.vintage}}</h4>
        <h6 class="mt-0 text-black-50">{{bottle.castel.name}}</h6>
        <h6 class="mt-0 text-black-50">{{bottle.naming.name}}</h6>
      </div>
    </div>
    <div class="stats mt-2 card-body">
      <div class="d-flex justify-content-between p-price">
        <span>Prix</span><span>{{bottle.price | currency:'EUR'}}</span></div>
      <div class="d-flex justify-content-between p-price"><span>Année</span><span>{{bottle.year}}</span></div>
      <div class="d-flex justify-content-between"><span [hidden]="!authentification">Quantité</span><span [hidden]="!authentification">{{bottle.quantity}}</span></div>
    </div>
    <div *ngIf="displayButton" class="d-flex justify-content-between total font-weight-bold mt-4 card-footer">
      <span [hidden]="authentification">Quantité</span><span [hidden]="authentification">{{bottle.quantity}}</span>
      <button [hidden]="!authentification" type="button" class="btn btn-modifier" (click)="openEditModal()">Edit</button>
      <button [hidden]="!authentification" type="button" class="btn btn-supprimer">Remove</button>
    </div>
  </div>
</div>
