@import "../assets/style/_variables.scss";

.page{
  display: flex;
  height: 100vh;
}

.logo img {
  margin: 10% auto;
  display: block;
  width: 150px;
  border: 4px solid $interactive-primary-d-2;
}

.menu{
  width: 8%;
  min-width: 8%;
  background-color: $interactive-primary-0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &_header{
    width: 100%;
    height: 15%;
    margin-bottom: 20px;
  }
  &_body{
    margin-top: 20px;
    width: 100%;
  }
  &_item{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_active{
      background-color:$interactive-primary-d-1;
    }
    &_image{
      background-color: white !important;
      align-items: center;
      justify-content: center;
      width:40px;
      height: 40px;
      display: flex;
      border-radius: 50%;
    }
  }
}

.menu_item:hover{
  background-color: $interactive-primary-d-1;
}

.nav{
  &__date {
    margin-left: 3px;
    white-space: nowrap;
    &__day {
      font-family: $headings-font-family;
      color: $white;
      font-weight: bold;
    }
    &__my {
      color: $white;
    }
  }
  &_title{
    color:$primary;
    font: $font-primary;
  }
}

header{
  height: 7%;
  background-color: $interactive-primary-0;
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
}

.content{
  width: 100%;
  display: flex;
  flex-direction: column;
  &_body{
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color:$interactive-primary-d-2 ;
  }
  &_header{
    background-color:$interactive-primary-0;
    margin-bottom: 2%;
  }
}

img{
  width: 100%;
  height: 100%;
}
