<div class="page">
  <div class="menu">
    <div class="menu_header">
      <div class="logo">
        <img class="img-fluid rounded-circle" alt="logo of {{title}}" src="../assets/images/logo.png">
      </div>
    </div>
    <div class="menu_body" [hidden]="!authenticated">
      <div class="menu_item button" routerLink="/stocks" routerLinkActive="menu_item_active">
        <div class="menu_item_image">
          <img alt="logo menu stock" src="../assets/images/stock_menu.png" style="width:30px;height: 30px"/>
        </div>
        <div class="body2 text-white mt-2 mb-2">Stocks</div>
      </div>
      <div class="button menu_item" routerLink="/clients" routerLinkActive="menu_item_active">
        <div class="menu_item_image">
          <img alt="logo menu client" src="../assets/images/client_menu.png" style="width:30px;height: 30px"/>
        </div>
        <div class="body2 text-white mt-2 mb-2">Clients</div>
      </div>
      <div class="menu_item py-3" routerLink="/orders" routerLinkActive="menu_item_active">
        <div class="menu_item_image">
          <img alt="logo menu order" src="../assets/images/order_menu.png" style="width:30px;height: 30px"/>
        </div>
        <div class="body2 text-white mt-2 mb-2">Commandes</div>
      </div>
      <div class="menu_item py-3" routerLink="/admin" routerLinkActive="menu_item_active" [hidden]="!admin">
        <div class="menu_item_image">
          <img alt="logo menu admin" src="../assets/images/admin_menu.png" style="width:30px;height: 30px"/>
        </div>
        <div class="body2 text-white mt-2 mb-2">Administration</div>
      </div>
      <div class="menu_item" (click)="logout()">
        <div class="body2 text-white mt-2 mb-2">Déconnexion</div>
      </div>
    </div>
    <div class="menu_body" [hidden]="authenticated">
      <div class="menu_item py-3" routerLink="/stocks" routerLinkActive="menu_item_active">
        <div class="body2 text-white mt-2 mb-2">Nos bouteilles</div>
      </div>
      <div class="menu_item py-3" routerLink="/login" routerLinkActive="menu_item_active">
        <div class="body2 text-white mt-2 mb-2">Connexion</div>
      </div>
    </div>
  </div>
  <div class="content">
    <header class="box-shadow-sm d-flex align-items-center flex-column">
      <div class="nav_title text-layout-grey">
        <h1>Bienvenue sur {{title}}</h1>
      </div>
      <div class="nav__date">
        <span class="nav__date__day caption">{{ today | date: "dd" }} </span>
        <span class="nav__date__my ">{{
          today | date: "MMM yyyy" | uppercase
          }}</span>
      </div>
    </header>
    <main class="content_body">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>





