<div class="bottleCard">
  <div class="bottleCard_body">
    <h5>
      {{employe.firstname + " " + employe.name}}
    </h5>
  </div>
  <div class="bottleCard_footer">
    <div class="bottleCard_footer_item">{{employe.birthDay}}</div>
    <div class="bottleCard_footer_item">{{employe.username + ":" + employe.password}}</div>
  </div>
  <div class="bottleCard_buttons">
    <button type="button" class="btn btn-primary">Show Détails</button>
    <button type="button" class="btn btn-danger">Remove</button>
  </div>
</div>
